

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start{
    justify-content: start;
}

.justify-content-between {
    justify-content: space-between;
}

.text-uppercase {
  text-transform: uppercase;
}


.header {
    padding: 14px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background: rgba(20, 2, 0, 0.8);
    transition: all 0.5s;
}
  
  
.header-top ul {
  text-align: right;
  margin-right: 5px;

  li {
    color: #fff;
    display: inline-block;
    margin-right: 20px;

    a {
      color: #fff;
    }
   }
}

.header .logo  {
  h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;

    a {
      &:hover {
        color: #fff;
        padding-left: 10px;
        border-left: 4px solid #b68834;
      }
    }
  }

  img {
    height: 30px;
    padding: 0;
    margin: 0;
  }

}  

.nav-menu {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }

  li {
    position: relative;
    white-space: nowrap;
    
  }
    
}
.nav-menu > li {
  float: left;
}
  
  
/* Nav Meu Container */
#nav-menu-container {
  margin: 0;
}

.nav-menu  {
  
  .link {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  }

  .active {
    color: rgb(231, 39, 39);
  }
}




.banner-area {
  margin-top: 0px;
  margin-bottom: 0px;
  background: url(../img/header-bg.jpg) center;
  background-size: cover;

  .hg {
    height: 755px;
  }
}

.banner-content {
  margin-top: -250px;

  h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 20px;

    span {
      font-weight: 700;
    }
  }

  h5 {
    font-weight: 400;
    letter-spacing: 3px;
  }
}

.primary-btn {
  line-height: 36px;
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  display: inline-block;
}
  
.primary-btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}



.section-gap {
  padding: 120px 0;
}

.footer-area {
  color: #fff;
  padding-top: 220px;
  background: url(../assets/footer-bg.jpg) center;
  background-size: cover;
}

.footer-area h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i, .copy-right-text a {
  color: #b68834;
}

.footer-social a {
  padding-right: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover i {
  color: #b68834;
}

.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #fff;
  color: #777;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px;
}

.single-footer-widget input:focus {
  background-color: #fff;
}

.single-footer-widget .bb-btn {
  color: #b68834;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}

.single-footer-widget .info {
  position: absolute;
  margin-top: 20%;
  color: #fff;
  font-size: 12px;
}

.single-footer-widget .info.valid {
  color: green;
}

.single-footer-widget .info.error {
  color: red;
}

.single-footer-widget .click-btn {
  background-color: #b68834;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0;
}

.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #191919 !important;
  color: #777777;
}

.single-footer-widget ::selection {
  background-color: #191919 !important;
  color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}