<div class="createCoffe">
  <h1>Створення нового кафе</h1>
  <form (ngSumbit)="onSubmit()" #TypecoffeeForm="ngForm">
      <div>
        <label for="type"> Title</label>
        <input type="text" id="name" 
              [(ngModel)]="model.type" name="type" 
              #name="ngModel">
      </div>
      <div>
        <label for="info"> Info</label>
        <input type="text" id="info"
              [(ngModel)]="model.info" name="info">
      </div>
      <button type="submit" (click)="save()" >Save Coffee</button>
  </form>
  
</div>